* {
    margin: 0
}

h1 {
    text-align: left;
    display: inline-block;
    margin-top: 85px;
    margin-right: 30px;
    font-size: 30px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    height: 150px;
    background-color: salmon;
}

nav {
    display: inline;
}

li {
    display: inline-block;
    margin: 20px
}

main {
    margin: 10px
}

div {
    border: 5px dotted black;
    padding: 15px;
}

.navLink {
    font-size: 20px;
}

#html-img {
    height: 150px;
    float: left;
}

#css-img {
    height: 150px;
    float: right;
    margin: 0 10px 

}

#html-div {
    display: inline-block;
    margin-bottom: 10px;
}