* {
    margin: 0;
}

header {
    background-color: aqua;
    height: 75px;
}

h1 {
    padding-top: 15px;
    padding-left: 20px;
}

main {
    display: block;
}

#bigbox1 {
    height: 150px;
    padding: 20px;
}

#bigbox2 {
    height: 300px;
}

.bigbox {
    border: 5px dotted black;
    margin: 10px
}

.smallbox {
    display: inline-block;
}

#smallbox1 {
    background-color: purple;
    height: 75px;
    width: 150px;
    border: 2px solid red;
    margin-right: 20px;
}

#smallbox2 {
    background-color: blue;
    height: 75px;
    width: 75px;
    box-shadow: 5px 5px 5px black;
    margin-right: 20px;
}

#smallbox3 {
    background-color: pink;
    height: 150px;
    width: 150px;
    border: 1px solid black
}